@using System.Collections.Generic
@using System.Linq;
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Security
@using GlobalResources

@model List<Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Navigation.NavigationMenuItem>
<nav>
    @foreach (var navigationMenuItem in Model)
    {
        if (navigationMenuItem.Selected)
        {
            <a class="@navigationMenuItem.Class">@navigationMenuItem.Text</a>
            continue;
        }

        string actionName = navigationMenuItem.Action;
        
        var subNavItems = NavigationHelper.GetSubnavigationItemsForController(navigationMenuItem.Controller);
        if ((subNavItems != null) && (subNavItems.Count != 0))
        {
            var firstAccessible = subNavItems.FirstOrDefault(
                t =>
                    (t != null) &&
                    !string.IsNullOrEmpty(t.Action) &&
                    PermsChecker.HasPermission(t.MinimumPermission));

            if (firstAccessible == null)
            {
                continue;
            }

            actionName = firstAccessible.Action;
        }

        @Html.ActionLink(navigationMenuItem.Text, actionName, navigationMenuItem.Controller, null, new { @class = navigationMenuItem.Class })
    }

    @if (PermsChecker.HasPermission(Permission.AddDevices))
    {
        <a class="nav_add_device" href="@Url.Action("AddDevice", "Device")">@Strings.AddDevice</a>
    }
</nav>